$color-white: #ffffff;
$color-black: #000000;
// Gray colors
$color-gray: #e9ecef;
$color-gray-10: #dee2e6;
$color-gray-20: #ced4da;
$color-gray-30: #adb5bd;
$color-gray-40: #6c757d;
$color-gray-50: #495057;
$color-gray-60: #343a40;
$color-gray-70: #212529;
