@use "sass:math";
@import "../global/breakpoints";

$grid-columns: 12;
$grid-spaces: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px
);

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.grid__row {
  display: flex;
  flex-flow: row wrap;
}

@each $key, $val in $grid-spaces {
  .space__column-#{$key} > * {
    padding: $val
  }
  .space__column-#{$key} {
    margin-left: -$val;
    margin-right: -$val;
  }
}

@include xs {
  @for $i from 1 through $grid-columns {
    .grid__column--#{$i}-xs {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc($i * 100% / $grid-columns);
    }
  }
}

@include sm {
  @for $i from 1 through $grid-columns {
    .grid__column--#{$i}-sm {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc($i * 100% / $grid-columns);
    }
  }
}

@include md {
  @for $i from 1 through $grid-columns {
    .grid__column--#{$i}-md {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc($i * 100% / $grid-columns);
    }
  }
}

@include lg {
  @for $i from 1 through $grid-columns {
    .grid__column--#{$i}-lg {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc($i * 100% / $grid-columns);
    }
  }
}

@include xl {
  @for $i from 1 through $grid-columns {
    .grid__column--#{$i}-xl {
      box-sizing: border-box;
      flex-grow: 0;
      width: calc($i * 100% / $grid-columns);
    }
  }
}
