$space-base: 1rem !default;
$space-xs: $space-base * 0.5 !default;
$space-sm: $space-base * 0.75 !default;
$space-md: $space-base !default;
$space-lg: $space-base * 1.25 !default;
$space-xl: $space-base * 1.5 !default;
$space-2xl: $space-base * 2 !default;
