
// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;

$border-radius: 0.25rem;

// Buttons
$button-width-spacing: 1rem;
$button-height-spacing: 0.5rem;
