@import 'src/packages/core/src/global/colors';

// ========== GRAY COLORS ==========
.testColor__color-gray {
  background-color: $color-gray;
}

.testColor__color-gray-10 {
  background-color: $color-gray-10;
}

.testColor__color-gray-20 {
  background-color: $color-gray-20;
}

.testColor__color-gray-30 {
  background-color: $color-gray-30;
}

.testColor__color-gray-40 {
  background-color: $color-gray-40;
}

.testColor__color-gray-50 {
  background-color: $color-gray-50;
}

.testColor__color-gray-60 {
  background-color: $color-gray-60;
}

.testColor__color-gray-70 {
  background-color: $color-gray-70;
}

.testColor__color-gray-80 {
  background-color: $color-gray-80;
}

.testColor__color-gray-90 {
  background-color: $color-gray-90;
}

// ========== BROWN COLORS ==========
.testColor__color-brown {
  background-color: $color-brown;
}

.testColor__color-brown-10 {
  background-color: $color-brown-10;
}

.testColor__color-brown-20 {
  background-color: $color-brown-20;
}

.testColor__color-brown-30 {
  background-color: $color-brown-30;
}

.testColor__color-brown-40 {
  background-color: $color-brown-40;
}

.testColor__color-brown-50 {
  background-color: $color-brown-50;
}

.testColor__color-brown-60 {
  background-color: $color-brown-60;
}

.testColor__color-brown-70 {
  background-color: $color-brown-70;
}

.testColor__color-brown-80 {
  background-color: $color-brown-80;
}

.testColor__color-brown-90 {
  background-color: $color-brown-90;
}

// ========== GREEN COLORS ==========
.testColor__color-green {
  background-color: $color-green;
}

.testColor__color-green-10 {
  background-color: $color-green-10;
}

.testColor__color-green-20 {
  background-color: $color-green-20;
}

.testColor__color-green-30 {
  background-color: $color-green-30;
}

.testColor__color-green-40 {
  background-color: $color-green-40;
}

.testColor__color-green-50 {
  background-color: $color-green-50;
}

.testColor__color-green-60 {
  background-color: $color-green-60;
}

.testColor__color-green-70 {
  background-color: $color-green-80;
}

.testColor__color-green-80 {
  background-color: $color-green-80;
}

.testColor__color-green-90 {
  background-color: $color-green-90;
}

// ========== BLUE COLORS ==========
.testColor__color-blue {
  background-color: $color-blue;
}

.testColor__color-blue-10 {
  background-color: $color-blue-10;
}

.testColor__color-blue-20 {
  background-color: $color-blue-20;
}

.testColor__color-blue-30 {
  background-color: $color-blue-30;
}

.testColor__color-blue-40 {
  background-color: $color-blue-40;
}

.testColor__color-blue-50 {
  background-color: $color-blue-50;
}

.testColor__color-blue-60 {
  background-color: $color-blue-60;
}

.testColor__color-blue-70 {
  background-color: $color-blue-70;
}

.testColor__color-blue-80 {
  background-color: $color-blue-80;
}

.testColor__color-blue-90 {
  background-color: $color-blue-90;
}

// ========== TURQUOISE COLORS ==========
.testColor__color-turquoise {
  background-color: $color-turquoise;
}

.testColor__color-turquoise-10 {
  background-color: $color-turquoise-10;
}

.testColor__color-turquoise-20 {
  background-color: $color-turquoise-20;
}

.testColor__color-turquoise-30 {
  background-color: $color-turquoise-30;
}

.testColor__color-turquoise-40 {
  background-color: $color-turquoise-40;
}

.testColor__color-turquoise-50 {
  background-color: $color-turquoise-50;
}

.testColor__color-turquoise-60 {
  background-color: $color-turquoise-60;
}

.testColor__color-turquoise-70 {
  background-color: $color-turquoise-70;
}

.testColor__color-turquoise-80 {
  background-color: $color-turquoise-80;
}

.testColor__color-turquoise-90 {
  background-color: $color-turquoise-90;
}

// ========== VIOLET COLORS ==========
.testColor__color-violet {
  background-color: $color-violet;
}

.testColor__color-violet-10 {
  background-color: $color-violet-10;
}

.testColor__color-violet-20 {
  background-color: $color-violet-20;
}

.testColor__color-violet-30 {
  background-color: $color-violet-30;
}

.testColor__color-violet-40 {
  background-color: $color-violet-40;
}

.testColor__color-violet-50 {
  background-color: $color-violet-50;
}

.testColor__color-violet-60 {
  background-color: $color-violet-60;
}

.testColor__color-violet-70 {
  background-color: $color-violet-70;
}

.testColor__color-violet-80 {
  background-color: $color-violet-80;
}

.testColor__color-violet-90 {
  background-color: $color-violet-90;
}

// ========== YELLOW COLORS ==========
.testColor__color-yellow {
  background-color: $color-yellow;
}

.testColor__color-yellow-10 {
  background-color: $color-yellow-10;
}

.testColor__color-yellow-20 {
  background-color: $color-yellow-20;
}

.testColor__color-yellow-30 {
  background-color: $color-yellow-30;
}

.testColor__color-yellow-40 {
  background-color: $color-yellow-40;
}

.testColor__color-yellow-50 {
  background-color: $color-yellow-50;
}

.testColor__color-yellow-60 {
  background-color: $color-yellow-60;
}

.testColor__color-yellow-70 {
  background-color: $color-yellow-70;
}

.testColor__color-yellow-80 {
  background-color: $color-yellow-80;
}

.testColor__color-yellow-90 {
  background-color: $color-yellow-90;
}

// ========== ORANGE COLORS ==========
.testColor__color-orange {
  background-color: $color-orange;
}

.testColor__color-orange-10 {
  background-color: $color-orange-10;
}

.testColor__color-orange-20 {
  background-color: $color-orange-20;
}

.testColor__color-orange-30 {
  background-color: $color-orange-30;
}

.testColor__color-orange-40 {
  background-color: $color-orange-40;
}

.testColor__color-orange-50 {
  background-color: $color-orange-50;
}

.testColor__color-orange-60 {
  background-color: $color-orange-60;
}

.testColor__color-orange-70 {
  background-color: $color-orange-70;
}

.testColor__color-orange-80 {
  background-color: $color-orange-80;
}

.testColor__color-orange-90 {
  background-color: $color-orange-90;
}

// ========== PINK COLORS ==========
.testColor__color-pink {
  background-color: $color-pink;
}

.testColor__color-pink-10 {
  background-color: $color-pink-10;
}

.testColor__color-pink-20 {
  background-color: $color-pink-20;
}

.testColor__color-pink-30 {
  background-color: $color-pink-30;
}

.testColor__color-pink-40 {
  background-color: $color-pink-40;
}

.testColor__color-pink-50 {
  background-color: $color-pink-50;
}

.testColor__color-pink-60 {
  background-color: $color-pink-60;
}

.testColor__color-pink-70 {
  background-color: $color-pink-70;
}

.testColor__color-pink-80 {
  background-color: $color-pink-80;
}

.testColor__color-pink-90 {
  background-color: $color-pink-90;
}

// ========== RED COLORS ==========
.testColor__color-red {
  background-color: $color-red;
}

.testColor__color-red-10 {
  background-color: $color-red-10;
}

.testColor__color-red-20 {
  background-color: $color-red-20;
}

.testColor__color-red-30 {
  background-color: $color-red-30;
}

.testColor__color-red-40 {
  background-color: $color-red-40;
}

.testColor__color-red-50 {
  background-color: $color-red-50;
}

.testColor__color-red-60 {
  background-color: $color-red-60;
}

.testColor__color-red-70 {
  background-color: $color-red-70;
}

.testColor__color-red-80 {
  background-color: $color-red-80;
}

.testColor__color-red-90 {
  background-color: $color-red-90;
}
